.App {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 105vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: lightcoral;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding-right: 30px;
  font-size: 20px;
}

.SignUpAndLogIn {
  margin-left: auto;
  margin-right: 3%;
}