body {
  font-family: monospace;
  font-size: 16px;
}

textarea {
  height: 900px;
}

.ProfilePageName {
  margin-left: 2%;
  color: #6b1e69;
  text-align: center;
  border-bottom: solid 2px #6b1e69;
}

.ProfilePageBio {
  color: #424242;
  font-family: 'Adobe Caslon Pro', 'Hoefler Text', Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 20pt;
  font-variant: small-caps;
  text-align: center;
  margin-top: 3%;
}
